.primer-stuff {
    display: flex;
    height: calc(100vh - var(--nav-height));
}

.side {
    width: var(--primer-side-width);
    padding-left: 4vh;
}

.prim-content {
    width: calc(100% - var(--primer-side-width));
    overflow-y: auto;
}

.topic-desc {
    padding: 5vh;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    gap: 2vh;
}

.title {
    margin-top: 5vh;
}
