.header {
    padding-left: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: var(--logo-font-size);
    font-weight: 600;
    display: flex;
    align-items: center;
    height: var(--nav-height);
}
