* {
    box-sizing: border-box;
    margin: 0;
}

* .sub-headers {
    margin-bottom: 4vh;
}

.topic-desc p {
    font-size: 20px;
}

/* Side Menus */
p {
    font-size: var(--default-font-size);
}

#topics {
    cursor: pointer;
}