:root {
  font-family: 'segoe ui', system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Variables */
  /* Sizes */
  --nav-height: 7vh;
  --primer-side-width: 40vh;
  --default-font-size: 20px;
  --logo-font-size: 4vh;
}
